<!DOCTYPE HTML>
<html>
	<head>
		<title> QandA - Home </title>
		<link href = "/stylesheets/home.css" rel = "stylesheet" type = "text/css">
		<link rel = "stylesheet" type = "text/css" href = "/stylesheets/font-awesome.min.css">
		<link rel = "stylesheet" type = "text/css" href = "/stylesheets/responsiveHome.css">
		<meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
		<meta charset = "utf-8">
	</head>
	<body>
		<% include ./Partials/header.ejs %>
		<div id = "divBody">
			<div class = "divPostForm">
				<form action = "#" method = "POST" class = "formPost">
					<textarea class = "textToPost" placeholder = "Ask or Say something..." name = "textToPost"></textarea><br>
					<input type = "submit" value = "Post" class = "submitPost">
					<input type = "reset" value = "Clear" class = "clearPost">
				</form>
			</div>

			<% for(x in posts){ %>	
			<div class = "divQues">
				<input type = "hidden" value = "<%= posts[x]._id %>" >
				<div class = "postStatement">
					<%= posts[x].post %>
				</div>
				<div class = "authorDetails">
					Posted by <b><%= posts[x].author %></b> on <b><%= posts[x].date %></b>
				</div>
				<div class = "otherDetails">
				<% if((posts[x].likedBy).indexOf(user) != -1) { %>
					<div class = "noOfLikes noOfLiked"><i class = "fa fa-thumbs-o-up"></i><%= posts[x].likes %></div><div class = "noOfUnLikes noOfUnLikesNotAllow"><i class = "fa fa-thumbs-o-down"></i><%= posts[x].unlikes %></div>
				<% }else {%>
					<% if((posts[x].unlikedBy).indexOf(user) != -1) { %>
						<div class = "noOfLikes noOfLikesNotAllow"><i class = "fa fa-thumbs-o-up"></i><%= posts[x].likes %></div><div class = "noOfUnLikes noOfUnLiked"><i class = "fa fa-thumbs-o-down"></i><%= posts[x].unlikes %></div>
					<% } else { %>
						<div class = "noOfLikes"><i class = "fa fa-thumbs-o-up"></i><%= posts[x].likes %></div><div class = "noOfUnLikes"><i class = "fa fa-thumbs-o-down"></i><%= posts[x].unlikes %></div>
					<% } %>
				<% } %>
					
				</div>
				<div class = "divAnswers">
					<% if(posts[x].comments.length == 0) {%>
						<span class = "noAnswer"> No Answers/Comments Yet </span>
					<% } %>
				</div>
			</div>
			<% } %>
		</div>

		<script src = "/javascripts/likeUnlike.js">	</script>
		<script src = "/javascripts/postData.js"> </script>
	</body>
</html>