<!DOCTYPE HTML>
<html>
	<head>
		<title> QandA - Home </title>
		<link href = "/stylesheets/home.css" rel = "stylesheet" type = "text/css">
		<link rel = "stylesheet" type = "text/css" href = "/stylesheets/font-awesome.min.css">
		<link rel = "stylesheet" type = "text/css" href = "/stylesheets/responsiveHome.css">
		<meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
		<meta charset = "utf-8">
	</head>
	<body>
		<% include ./Partials/header.ejs %>
		<div id = "divBody">
			<div class = "divPostForm">
				<form action = "#" method = "POST" class = "formPost">
					<textarea class = "textToPost" placeholder = "Ask or Say something..." name = "textToPost"></textarea><br>
					<input type = "submit" value = "Post" class = "submitPost">
					<input type = "reset" value = "Clear" class = "clearPost">
				</form>
			</div>

			<% for(x in posts){ %>	
			<div class = "divQues">
				<input type = "hidden" value = "<%= posts[x]._id %>" class = "<%= posts[x]._id %>" >
				<input type = "hidden" value = "<%= posts[x].date %>" >
				<div class = "postStatement">
					<%= posts[x].post %>
				</div>
				<div class = "authorDetails">
					<% var date = new Date(Number(posts[x].date)) %>
					Posted by <b><%= posts[x].author %></b> on <b><%= date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear() + " at " + date.getHours() + ":" + date.getMinutes() %></b>
				</div>
				<div class = "otherDetails">
				<% if((posts[x].likedBy).indexOf(user) != -1) { %>
					<div class = "noOfLikes noOfLiked"><i class = "fa fa-thumbs-o-up"></i><%= posts[x].likes %></div><div class = "noOfUnLikes noOfUnLikesNotAllow"><i class = "fa fa-thumbs-o-down"></i><%= posts[x].unlikes %></div>
				<% }else {%>
					<% if((posts[x].unlikedBy).indexOf(user) != -1) { %>
						<div class = "noOfLikes noOfLikesNotAllow"><i class = "fa fa-thumbs-o-up"></i><%= posts[x].likes %></div><div class = "noOfUnLikes noOfUnLiked"><i class = "fa fa-thumbs-o-down"></i><%= posts[x].unlikes %></div>
					<% } else { %>
						<div class = "noOfLikes"><i class = "fa fa-thumbs-o-up"></i><%= posts[x].likes %></div><div class = "noOfUnLikes"><i class = "fa fa-thumbs-o-down"></i><%= posts[x].unlikes %></div>
					<% } %>
				<% } %>
					
				</div>
				<div class = "divAnswers">
					<span class = "noAnswer"> <%= posts[x].comments.length %> Answers/Comments Yet </span>
					<% for(var i in posts[x].comments.length) {%>
						<div class = "answersAndComments">
							<div class = "divAnswerTitle">	</div>
							<div class = "divAnswerContent">	</div>
						</div>
					<% } %>
					<div class = "writeComment">
						<form action = "#" action = "POST">
							<textarea class = "answerToPost" placeholder = "Comment or Answer..." name = "answerToPost"></textarea><br>
							<input type = "submit" value = "Answer" class = "submitAnswer">
							<input type = "reset" value = "Clear" class = "clearAnswer">
						</form>
					</div>
				</div>
			</div>
			<% } %>
		</div>
		<script>var username = "<%= user %>";</script>
		<script src = "/javascripts/showAnswers.js"> </script>
		<script src = "/javascripts/likeUnlike.js">	</script>
		<script src = "/javascripts/postData.js"> </script>
	</body>
</html>